artifacts_mgr_client
onnx==1.16.1
pytest-xdist
pyasn1
transformers==4.46.3
scipy
awscli
sentencepiece
openai-whisper==20231117
diffusers 
accelerate
image-similarity-measures==0.3.6
pyfftw
pytest==8.0.2
matplotlib